<%include ../partials/header%>
<h1 class="centered">edit comment</h1>
<div class="centered-form">
    <form action="/campgrounds/<%= campgroundId %>/comments/<%= comment._id %>?_method=PUT" method="post">
        <div>
            <input type="text" class="form-control" name="comment[message]" value="<%= comment.message %>">
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-md btn-block" value="update">
        </div>
    </form>
</div>
<%include ../partials/footer%>