<%include partials/header%>
<div class="jumbotron">
    <p>Welcome back, sign in to yelpcamp!</p>
</div>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">sign in</button>
</form>
<%include partials/footer%>
